
<div class ="background-product">
	<nav class="flex-nav">
	  <ul>
	    <li><a href="/">Home</a></li>
	    <li><a href="">About</a></li>
	    <li><a href="#icons">Shopping Cart</a></li>
	    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	  </ul>
	</nav>


<p id="notice"><%= notice %></p>
<% product_id = params[:id] %>
<div class="productImage">
	<%= image_tag @product.image %>
</div>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<% if current_user.admin%>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%end%>
<%= link_to 'Back', products_path %>
<% if current_user %>
<%= link_to 'Add to cart', add_cart_path(@product), method: :post %>
<%= link_to 'Write review', new_review_path(@product) %>
<% end %>

</div>
	</div>
