

<h1>Review for <%=@product.description%></h1>

<%= form_for(@review) do |f| %>
  <%= f.label :Review %>:
  <%= f.text_area :body %><br/>
  <%= f.hidden_field :product_id, :value => @product.id %>
  <%= f.submit "Save Review" %>
<% end %>
